@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  @apply w-[400px] border border-gray-300 py-2 px-6 bg-zinc-100/40 rounded-md bg-white mb-2;
}
/* Customize the container */
.custom-toast-container {
  font-family: 'Arial', sans-serif;
}

/* Customize individual toasts */
.custom-toast {
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Success toast style */
.Toastify__toast--success {
  background-color: #4caf50; /* Green */
  border-left: 4px solid #2e7d32; /* Darker green */
}

/* Error toast style */
.Toastify__toast--error {
  background-color: #f44336; /* Red */
  border-left: 4px solid #b71c1c; /* Darker red */
}

/* Add an icon margin */
.Toastify__toast-icon {
  margin-right: 8px;
}

